### Importando dependências essenciais

## CRIAR O DICIONARIO DOS DADOS

|Nome|Tipo No BigQuery|Descrição|Cobertura Temporal|Coberta Por Um Dicionário|Coluna Correspondente Nos Diretórios|Unidade De Medida|Contém Dados Sensíveis (LGPD)|Observações|
|:--:|:--:|:--|:--:|:--:|:--:|:--:|:--:|:--:|
|ano|INT64|Ano|2010|Não|Não listado|Não listado|Sim|Não listado|
|sigla_uf|STRING|Sigla da Unidade da Federação|2010|Não|Não listado|Não listado|Sim|Não listado|
|id_municipio|STRING|ID Município - IBGE 7 Dígitos|2010|Não|Não listado|Não listado|Sim|Não listado|
|produto|STRING|Produto agrícola|2010|Não|Não listado|Não listado|Sim|Não listado|
|area_plantada|INT64|Área destinada ao plantio, em hectares|2010|Não|Não listado|Não listado|Sim|Não listado|
|area_colhida|INT64|Área colhida, em hectares|2010|Não|Não listado|Não listado|Sim|Não listado|
|quantidade_produzida|INT64|Quantidade total produzida, em toneladas|2010|Não|Não listado|Não listado|Sim|Não listado|
|rendimento_medio|INT64|Rendimento médio do produto, em kg por hectare|2010|Não|Não listado|Não listado|Sim|Não listado|
|valor_producao|INT64|Valor nominal total da produção, em reais|2010|Não|Não listado|Não listado|Sim|Não listado|
|prop_area_plantada|FLOAT64|Proporção da área plantada em relação ao total da área plantada em lavouras temporárias do município|2010|Não|Não listado|Não listado|Sim|Não listado|
|prop_area_colhida|FLOAT64|Proporção da área colhida em relação ao total da área colhida em lavouras temporárias do município|2010|Não|Não listado|Não listado|Sim|Não listado|
|prop_valor_producao|FLOAT64|Proporção do valor de produção em relação ao valor total de produção das lavouras temporárias do município|2010|Não|Não listado|Não listado|Sim|Não listado|

In [1]:
import pandas as pd
# Biblioteca basedosdados está apresentando erro para dowmload
# import basedosdados as bd

In [2]:
# Carregando os dados via arquivo local
df = pd.read_csv("./dados/pesquisa_agrícola_municipal_2010.csv")

# Breve visualização dos dados
df.head()

,ano,sigla_uf,id_municipio,produto,area_plantada,area_colhida,quantidade_produzida,rendimento_medio,valor_producao,prop_area_plantada,prop_area_colhida,prop_valor_producao
0,2010,DF,5300108,Abacate,111.0,105.0,2415.0,23000.0,2658.0,4.39,4.57,6.13
1,2010,DF,5300108,Algodão arbóreo (em caroço),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,DF,5300108,Açaí,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,DF,5300108,Azeitona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,DF,5300108,Banana (cacho),203.0,181.0,3915.0,21629.0,3793.0,8.03,7.87,8.74

In [3]:
# Criando uma busca dentro da tabela

def pesquisa(produto, uf, baixar=2):
    
    # Criando a busca apartir do nome do produto
    df_busca1 = df[df['produto'].str.contains(produto, case=False, regex=False)]
    
    # Buscado o UF apartir da busca anterior
    df_busca_final = df_busca1[df_busca1['sigla_uf'].str.contains(uf, case=False, regex=False)]

    # Verificando o retorno da busca realizada
    if len(df_busca_final) == 0 or len(df_busca_final) == None: # Caso não tenha valor para a busca realizada
        print("Busca não encontrada!")
    
    else:
        if baixar == '1' or baixar == 1:    # Baixando o arquivo em formato .xlsx
            df_busca_final.to_excel(f"pesquisas/pesquisa_{produto}_{uf}.xlsx")
            print("Arquivo foi salvo na pasta 'pesquisas'")
        
        elif baixar =='2' or baixar ==2:    # Apenas imprimindo a busca na tela
            return df_busca_final
        
        else:                               # Caso a opção informada sejá fora do esperado
            print("Tente novamente, informando um numero que seja 1 ou 2.\n Sendo 1 para baixar o arquivo e 2 para apenas aparecer na tela!")

In [11]:
# Realizando a busca do usuario
nome_produto = input("Qual o nome do produto: ")
sigla_uf = input("Qual a sigla do estado: ")
baixar = input("Deseja baixar a busca? (1 realiza o download e 2 apenas retora a busca): ")

Qual o nome do produto: Abacate
Qual a sigla do estado: go
Deseja baixar a busca? (1 realiza o download e 2 apenas retora a busca): 2

In [12]:
pesquisa(nome_produto, sigla_uf, baixar)

,ano,sigla_uf,id_municipio,produto,area_plantada,area_colhida,quantidade_produzida,rendimento_medio,valor_producao,prop_area_plantada,prop_area_colhida,prop_valor_producao
17404,2010,GO,5200050,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17442,2010,GO,5200100,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17480,2010,GO,5200134,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17518,2010,GO,5200159,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17556,2010,GO,5200175,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
19836,2010,GO,5205513,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19874,2010,GO,5205521,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19912,2010,GO,5205703,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19950,2010,GO,5205802,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19988,2010,GO,5205901,Abacate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN